<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="34" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/playsnaplogo"
        android:label="PlaySnap"
        android:roundIcon="@drawable/playsnaplogo"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:name=".MyApplication"
        android:theme="@style/Theme.PlaySnapUI"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        >


        <!-- SplashActivity as the launcher activity -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.PlaySnapUI.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- AuthActivity -->
        <activity
            android:name=".AuthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>

        <!-- HomeActivity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing"/>

    </application>

</manifest>